# pandas exploration
In this assignment you will select a data set and do some munging and analysis of it using `pandas`, Jupyter Notebooks, and associated Python-centric data science tools.

## Set up environment

The following lines ensure that `numpy` and `pandas` are installed in the notebook environment.  Depending on your system, this may not be necessary and may be removed.

Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.11/site-packages (1.26.4)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

Import the core data science libraries:

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

## Import the raw data
In this section, you will import the raw data into a `pandas` DataFrame.

In [14]:
# place your code into this Code cell

df = pd.read_csv('Table.csv')
df.head()

,GeoFips,GeoName,2017,2018,2019,2020,2021,2022
0,00998,United States (Metropolitan Portion),1.761911e+10,1.816070e+10,1.862572e+10,1.821260e+10,1.931117e+10,1.971377e+10
1,10180,"Abilene, TX (Metropolitan Statistical Area)",6.827152e+06,7.141273e+06,7.426609e+06,7.354374e+06,7.573774e+06,7.894587e+06
2,10420,"Akron, OH (Metropolitan Statistical Area)",3.642486e+07,3.688338e+07,3.747110e+07,3.609910e+07,3.751005e+07,3.770309e+07
3,10500,"Albany, GA (Metropolitan Statistical Area)",5.693673e+06,5.702355e+06,5.839867e+06,5.797644e+06,6.068572e+06,6.096378e+06
4,10540,"Albany-Lebanon, OR (Metropolitan Statistical A...",4.505965e+06,4.802294e+06,4.921026e+06,4.788775e+06,4.893295e+06,4.996612e+06

## Data inspection
In this section, you will show enough of your data for a viewer to get a general sense of how the data is structured and any unique features of it.  Complete each of the indicated tasks in a Code cell, making sure to include a Markdown cell above each Code cell that explains what is being shown by the code.  
- Show 5 rows, selected at random, from the data set.
- Show each of the column names and their data types.
- Show any unique features of your chosen data set.

Feel free to add as many additional cells as you need to help explain the raw data.

In [5]:
data.sample(5)

,GeoFips,GeoName,2017,2018,2019,2020,2021,2022
154,25860,"Hickory-Lenoir-Morganton, NC (Metropolitan Sta...",15103484.0,14923589.0,14772281.0,14427958.0,14896449.0,15129685.0
273,38300,"Pittsburgh, PA (Metropolitan Statistical Area)",150697726.0,154324237.0,155924635.0,147494188.0,152964506.0,153329563.0
48,15180,"Brownsville-Harlingen, TX (Metropolitan Statis...",10734203.0,10950425.0,11200319.0,10912927.0,11660469.0,12032752.0
272,38220,"Pine Bluff, AR (Metropolitan Statistical Area)",3510237.0,3436911.0,3395529.0,3208750.0,3390739.0,3311025.0
312,41860,"San Francisco-Oakland-Berkeley, CA (Metropolit...",526582864.0,560553451.0,590717591.0,591150074.0,655887146.0,654730737.0

In [6]:
data.dtypes

GeoFips     object
GeoName     object
2017       float64
2018       float64
2019       float64
2020       float64
2021       float64
2022       float64
dtype: object

In [7]:
data.nunique()

GeoFips    390
GeoName    385
2017       385
2018       385
2019       385
2020       385
2021       385
2022       385
dtype: int64

## Data munging
Place your **data munging** code and documentation within this section.  
- Keep each of your Code cells short and focused on a single task.  
- Include a Markdown cell above each code cell that describes what task the code within the code cell is performing.
- Make as many code cells as you need to complete the munging - a few have been created for you to start with.
- Display 5 sample rows of the modified data after each transformation so a viewer can see how the data has changed.

**Note**: If you believe that your data set does not require any munging, please explain in detail.  Create Markdown cells that explain your thinking and create Code cells that show any specific structures of the data you refer to in your explanation.

In [ ]:
## The data does not require any munging aside from removing the first 3 lines of the CSV file when downloaded straight from online which will do here

## Data analysis
Place your **data analysis** code and documentation within this section.
- Perform at least 5 different statistical or other analyses of different aspects of the data.
    - Your analyses must be specific and relevant to your chosen data set and show interesting aspects of it.
    - Include at least one analysis that includes grouping rows by a shared attribute and performing some kind of statistical analysis on each group.
    - Sort the data in at least 1 of your analyses, but sort on its own does not constitute an analysis on its own.
- Keep each of your Code cells short and focused on a single task.
- Include a Markdown cell above each Code cell that describes what task the code within the Code cell is performing.
- Make as many code cells as you need to complete the analysis - a few have been created for you to start with.

In [9]:
# Generating summary statistics for numeric columns
summary_stats = data.describe()
print(summary_stats)

               2017          2018          2019          2020          2021  \
count  3.850000e+02  3.850000e+02  3.850000e+02  3.850000e+02  3.850000e+02
mean   9.152787e+07  9.434172e+07  9.675932e+07  9.461479e+07  1.003303e+08
std    9.047197e+08  9.325745e+08  9.564438e+08  9.350888e+08  9.914921e+08
min    2.482118e+06  2.420183e+06  2.564490e+06  2.453455e+06  2.513431e+06
25%    6.342091e+06  6.422914e+06  6.491649e+06  6.407321e+06  6.790728e+06
50%    1.197257e+07  1.249065e+07  1.286441e+07  1.232838e+07  1.239199e+07
75%    2.877977e+07  2.930716e+07  3.015131e+07  3.066718e+07  3.213634e+07
max    1.761911e+10  1.816070e+10  1.862572e+10  1.821260e+10  1.931117e+10

               2022
count  3.850000e+02
mean   1.024286e+08
std    1.012211e+09
min    2.666455e+06
25%    6.808904e+06
50%    1.281377e+07
75%    3.262419e+07
max    1.971377e+10

In [15]:
# Top 5 Metropolitan Areas by 2022 GDP
def top_5_areas_2022(df):
    """
    Finds the top 5 areas by GDP in 2022.
    """
    df_sorted = df.sort_values(by='2022', ascending=False)
    top_5 = df_sorted[['GeoName', '2022']].head(5)
    print("Top 5 Areas by 2022 GDP:\n", top_5)

# Example usage
top_5_areas_2022(df)

Top 5 Areas by 2022 GDP:
                                                GeoName          2022
0                 United States (Metropolitan Portion)  1.971377e+10
250  New York-Newark-Jersey City, NY-NJ-PA (Metropo...  1.870253e+09
211  Los Angeles-Long Beach-Anaheim, CA (Metropolit...  1.060496e+09
69   Chicago-Naperville-Elgin, IL-IN-WI (Metropolit...  7.056590e+08
312  San Francisco-Oakland-Berkeley, CA (Metropolit...  6.547307e+08

In [16]:
#Percentage Change from 2017 to 2022

def percentage_change(df):
    """
    Computes the percentage change in GDP from 2017 to 2022.
    """
    df['Pct_Change'] = ((df['2022'] - df['2017']) / df['2017']) * 100
    df_sorted = df.sort_values(by='Pct_Change', ascending=False)
    print("Percentage Change in GDP (2017-2022):\n", df_sorted[['GeoName', 'Pct_Change']])

# Example usage
percentage_change(df)

Percentage Change in GDP (2017-2022):
                                                GeoName  Pct_Change
346   The Villages, FL (Metropolitan Statistical Area)   49.948008
229        Midland, TX (Metropolitan Statistical Area)   39.517937
282     Provo-Orem, UT (Metropolitan Statistical Area)   38.540401
22   Austin-Round Rock-Georgetown, TX (Metropolitan...   37.227846
313  San Jose-Sunnyvale-Santa Clara, CA (Metropolit...   36.208326
..                                                 ...         ...
385                                                NaN         NaN
386                                                NaN         NaN
387                                                NaN         NaN
388                                                NaN         NaN
389                                                NaN         NaN

[390 rows x 2 columns]

In [20]:
def aggregate_gdp_by_state(df):
    """
    Groups metropolitan areas by state and calculates total GDP for each state.
    """
    # Convert all values to string to avoid type errors
    df['GeoName'] = df['GeoName'].astype(str)

    # Extract states from GeoName (assuming they are comma-separated with states listed second)
    df['State'] = df['GeoName'].apply(lambda x: x.split(',')[-1].strip() if ',' in x else 'Unknown')

    # Group by State and sum GDP for 2022
    df_grouped = df.groupby('State')['2022'].sum().reset_index()

    # Sort the result by GDP
    df_grouped_sorted = df_grouped.sort_values(by='2022', ascending=False)

    print("Total GDP by State in 2022:\n", df_grouped_sorted)

# Example usage
aggregate_gdp_by_state(df)

Total GDP by State in 2022:
                                        State          2022
79                                   Unknown  1.971377e+10
5         CA (Metropolitan Statistical Area)  3.137316e+09
56  NY-NJ-PA (Metropolitan Statistical Area)  1.870253e+09
75        TX (Metropolitan Statistical Area)  1.742995e+09
11        FL (Metropolitan Statistical Area)  1.194512e+09
..                                       ...           ...
82   VA-WV (Metropolitan Statistical Area) *  7.677814e+06
47        ND (Metropolitan Statistical Area)  7.256824e+06
78     UT-ID (Metropolitan Statistical Area)  6.808904e+06
76     TX-AR (Metropolitan Statistical Area)  5.501149e+06
20     ID-WA (Metropolitan Statistical Area)  2.979199e+06

[91 rows x 2 columns]

In [18]:
def avg_annual_growth_rate(df):
    """
    Calculates the average annual growth rate of GDP for each metropolitan area.
    """
    df['Avg_Annual_Growth'] = (df['2022'] / df['2017']) ** (1 / 5) - 1
    df_sorted = df.sort_values(by='Avg_Annual_Growth', ascending=False)
    print("Average Annual GDP Growth Rate:\n", df_sorted[['GeoName', 'Avg_Annual_Growth']])

# Example usage
avg_annual_growth_rate(df)

Average Annual GDP Growth Rate:
                                                GeoName  Avg_Annual_Growth
346   The Villages, FL (Metropolitan Statistical Area)           0.084397
229        Midland, TX (Metropolitan Statistical Area)           0.068873
282     Provo-Orem, UT (Metropolitan Statistical Area)           0.067371
22   Austin-Round Rock-Georgetown, TX (Metropolitan...           0.065341
313  San Jose-Sunnyvale-Santa Clara, CA (Metropolit...           0.063753
..                                                 ...                ...
385                                                NaN                NaN
386                                                NaN                NaN
387                                                NaN                NaN
388                                                NaN                NaN
389                                                NaN                NaN

[390 rows x 2 columns]

In [ ]:
# Adding a state extraction function
def extract_state(geo_name):
    if geo_name and ',' in geo_name:
        return geo_name.split(',')[-1].strip()
    return "Unknown"

# Filling missing values
df["GeoName"] = df["GeoName"].fillna("Unknown")

# Adding "State" column
df["State"] = df["GeoName"].apply(extract_state)

# Grouping by state and summarizing financial values
grouped_by_state = df.groupby("State").sum(numeric_only=True)

print(grouped_by_state)

## Data visualization
In this section, you will create a few **visualizations** that show some of the insights you have gathered from this data.
- Create at least 5 different visualizations, where each visualization shows different insights into the data.
- Use at least 3 different visualization types (e.g. bar charts, line charts, stacked area charts, pie charts, etc)
- Create a Markdown cell and a Code cell for each, where you explain and show the visualizations, respectively.
- Create as many additional cells as you need to prepare the data for the visualizations.